# Supabase REST
SUPABASE_URL=http://supabasekong-wymwq8rktid7ov678oe4va90.76.13.169.150.sslip.io
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_aqui

# Active profile (use 'supabase' to enable REST mode)
SPRING_PROFILES_ACTIVE=supabase